
.signUp__wrap {

    form {
        // padding-bottom: 3rem;
        padding-bottom: 0;
        width: 80%;
        margin: 0 auto;
        .userInfos {
            &:first-child {
                margin-top: 3rem !important;
            }
            &:last-child {
                margin-top: 0 !important;
            }
        }

        .passInputs {
            display: flex;
            input {
                margin-top: 0;
            }
        }
    }
}