.btn {
    display: block;
    width: 80%;
    padding: 1rem 0;
    margin: 0 auto;
    color: white;
    background-color: grey;
    line-height: 1;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}