.footer {
    background-color: #2575fc;
    .footer__wrap {
        background-color: #2575fc;
        height: 10rem;
        max-width: 1450px;
        padding: 2rem;
        margin: 0 auto;
    }
}